:root {
  --verdelima: #DBFB73;
  --fondo-pagina: #FBFFEC;
  --color-fuente: #37363E;
}

dialog {
  padding: 0 0 2rem 0;
  width: 90%;
  max-width: 800px;
  border: none;
  border-radius: 0;
  margin: auto;
  display: none; /* Cambiado a none para que no se abra automáticamente */
  border-radius: 5px;
}
dialog:focus{
  outline: none;
}
dialog[open] {
  display: flex;
  flex-direction: column;
}
dialog h2{
  font-family: Krona One;
  font-size: 1.1rem;
  color: #37363e;
}
dialog p{
  font-family: Roboto;
  font-size: 1.1rem;
  color: #37363e;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog .contenedorModal {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "nav nav nav nav"
    "fotoPerfil descripcion descripcion descripcion"
    "fotoPerfil especialidades especialidades especialidades";
  width: 100%;
}

dialog .contenedorModal h2 {
  background-color: var(--verdelima);
  margin: 0;
  grid-area: nav;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog .contenedorModal .cerrar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

dialog .contenedorModal .fotoPerfil {
  grid-area: fotoPerfil;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  justify-self: center;
}

dialog .contenedorModal p {
  grid-area: descripcion;
  padding: 0 1rem;
}

dialog .contenedorModal .especialidades {
  grid-area: especialidades;
}

@media (max-width: 767px) {
  dialog .contenedorModal {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "nav"
      "fotoPerfil"
      "descripcion"
      "especialidades";
  }

  dialog .contenedorModal .fotoPerfil {
    margin: 0 auto;
  }

  dialog .contenedorModal p,
  dialog .contenedorModal .especialidades {
    text-align: center;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  dialog {
    max-width: 700px;
  }

  dialog .contenedorModal .fotoPerfil {
    height: 130px;
    width: 130px;
  }
}

.especialidades p {
  text-decoration: underline;
}