:root {
  --verdelima: #dbfb73;
  --fondo-pagina: #fbffec;
  --color-fuente: #37363e;
}

/* TODO: List 
  Ajustar el grid (que sean 2 cartas solo en ancho completo)
  Ajustar cards (que tenga el ancho del figma)
  Ajustar boton Que hacemos
  Ajustar encabeza
  Cambiar logo linkedin
  Meter enlaces
*/

body {
  background-color: var(--fondo-pagina);
  font-family: "Roboto", "Comic Sans", cursive;
  color: var(--color-fuente);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.presentacion {
  text-align: center;
  padding: 0rem 1rem 0.5rem 1rem;
}

.presentacion h1 {
  font-family: "Krona One", Arial, Helvetica, sans-serif;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
}

@media (min-width: 480px) and (max-width: 999px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 1000px) {
  .galeria {
    grid-template-columns: repeat(2, 475px);
    justify-content: center;
  }
}

.tarjeta {
  box-sizing: border-box;
  border: 1px solid #8e8d8d;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 479px) {
  .tarjeta {
    min-width: 284px;
    min-height: 213px;
  }
}

@media (min-width: 480px) and (max-width: 999px) {
  .tarjeta {
    width: 100%;
    max-width: 350px;
    min-height: 230px;
  }
}

@media (min-width: 1000px) {
  .tarjeta {
    width: 100%;
    max-width: 475px;
    max-height: 250px;
  }
}

.tarjeta img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}
.tarjeta p {
  margin: 0;
  font-family: "Krona One", Arial, Helvetica, sans-serif;
}

.tarjeta a img {
  height: 46px;
  width: 46px;
  margin: 0 0.5rem;
}

.tarjeta-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}