:root{
  --verdelima:#AEFF00;
  --fondo-pagina:#FBFFEC;
}

body{
  background-color: var(--fondo-pagina);
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem;
  background-color: var(--verdelima);
  border-bottom: 1px solid #ddd;
  font-family:"Krona One",Arial, Helvetica, sans-serif;
}

header h2 {
  margin: 0;                      
  font-size: 1.5rem;
}

header span {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  background-color: var(--verdelima);
  cursor: pointer;
  border-radius: 6px;
}

main article{
  text-align: center;
}

.equipo {
  display: flex;
  flex-wrap: wrap;                
  gap: 2rem;                   
  justify-content: center;
}

.card {
  flex: 1 1 200px;                
  max-width: 220px;             
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.icono{
    height: 20px;

}